.wrapper {
	width: 70%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.label {
	font-size: 20px;
}

.input {
	padding: 10px;
	border-radius: 10px;
}

.search {
	width: 30vw;
	display: flex;
	flex-direction: column;
}

.bullet {
	display: inline-block;
}

.bullet::before {
	margin-right: 3px;
	content: "•";
}
